/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



     /*.....................*/

.headwrapper {
	background-color:black;

}
.headwrapper .logo{
	margin:10px;
	height:120px;
	max-width: 100%;
	padding:6px;
	
  
}

.name {
	
	text-align: center;
	font-weight: bold;
	font-size: 5em;
	text-decoration: none;
	word-spacing:-6px;
	position:relative;
	overflow: hidden;
	margin-top: -60px;
  	padding:2px;
  	
	
}



.headwrapper .name .first{
	color:white;
	text-decoration: none;
	
}

.headwrapper .name .second{
	color:#990012 ;
	text-decoration: none;


}

.headwrapper .name .third{
	color:white;
	text-decoration: none;
}

.headwrapper #nav{
	float:right;
	margin-top: -150px;
	font-size: 1.5em;
	padding-right: 5px;
	
}
.headwrapper #nav li{
	position: relative;
        color: Red;
      
        display: block;
        height: 40px;
	padding: 1px;

}
#nav li a{
	color: #f3f3f3;
    	text-shadow: 1px 1px 1px rgba(0,0,0,.6);

}

#nav li:hover > a {
	color: red;
}

body{
	background-color:#D1D0CE;
}
.bodywrapper h2{
	
	font-size: 4em;
	color: #C11B17;
	text-align:center;
	Padding: 10px;
}
.form{
	
  	margin: auto;
 	position: relative;
  	width: 300px;
  	height: 200px;
  	font-size: 14px;
  	font-style: italic;
  	line-height: 24px;
  	font-weight: bold;
  	color: #FF0000;
  	text-decoration: none;
  	border-radius: 10px;
  	padding: 10px;
  	border: 10px solid #C11B17 ;
	box-sizing: border-box;
  	
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .headwrapper { width:67%; }
    #nav { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    .headwrapper { width:100%; }
    #nav { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
    .logo[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    .logo[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}



